.cart-button {
    min-width: 100px;
    margin: 16px;
    padding: 8px;
    background-color: #afeeee;
    border: 1px solid grey;
    border-radius: 6px;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #bfffff;
    border: 1px solid lightgray;
}

.cart-button:active {
    background-color: #9edddd;
}

.goods-list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.goods-list div {
    display: flex;
    flex-direction: row;
    margin: 16px;
    min-width: 160px;
    align-content: center;
    border: 2px solid grey;
}

.goods-list p {
    
}

.goods-list h3 {

}