.validator-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 10%;
}

.validator-form input, textarea{
    margin: 5px 0;
}



.wrong-input {
    outline: 2px solid #cc0000;
}