<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>eShop</title>
</head>
<body>   
    <header class="header">
        <form action="#" class="header-search-form">
            <input type="text" class="header-search-form-input">
            <button class="header-search-form-button">Find</button>
        </form>
        <button class="cart-button">Basket</button>
    </header> 
    <div id="container">
        <input type="text" v-model="search">
        <p>{{ search }}</p>
        <div class="goods-list">
            <div class="goods-item" v-for="goodItem in goods">
                <h3>{{ goodItem.name }}</h3>
                <p>{{ goodItem.price }}&#8381;</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>